site_name: Shield Vault
site_url: https://axonshield.com/vault/
theme:
  logo: assets/axon-logo.png
  favicon: assets/favicon.ico
  name: material
  custom_dir: overrides
  palette:
    - scheme: default
      primary: white 
      accent: indigo
      toggle:
        icon: material/brightness-7 
        name: Switch to dark mode
    - scheme: slate
      primary: white
      accent: indigo
      toggle:
        icon: material/brightness-4 
        name: Switch to light mode
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.top
    - search.suggest
    - search.highlight
    - content.code.copy

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - admonition
  - pymdownx.details
  - footnotes

extra_css:
  - stylesheets/extra.css

extra_javascript:
  - javascripts/parent-sync.js

extra:
  announce: true
  social:
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/company/axonsecurity/
  analytics:
    hotjar: 5152464

