site_name: Shield Vault
site_url: https://vault.axonshield.com/
theme:
  logo: assets/axon-logo.png
  name: material
  palette:
    - scheme: default
      primary: white 
      accent: indigo
      toggle:
        icon: material/brightness-7 
        name: Switch to dark mode
    - scheme: slate
      primary: white
      accent: indigo
      toggle:
        icon: material/brightness-4 
        name: Switch to light mode
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.top
    - search.suggest
    - search.highlight
    - content.code.copy

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - admonition
  - pymdownx.details

extra:
  social:
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/company/axonshield/
  analytics:
    google: G-D7Y27V4B1X
    hotjar: 5152464
